{% extends "layout.html" %} {% block title %}Home{% endblock %}
<!-- style -->
{% block style %} {% load static %}
<link href="{% static 'css/btn.css' %}" rel="stylesheet" />

<link rel="stylesheet" href="{% static 'css/profile.css' %}" />

<style>
  #cover {
    background-image: url("{% static 'images/pcover.png' %}");
  }
</style>

{% endblock %}
<!-- nav -->
{% block main %}
<main class="profile-page font-open-sans">
  <section class="relative block h-500-px">
    <div class="absolute top-0 w-full h-full bg-center bg-cover" id="cover">
      <span
        id="blackOverlay"
        class="absolute w-full h-full bg-black opacity-50"
      ></span>
    </div>
    <div
      class="absolute bottom-0 left-0 right-0 top-auto w-full overflow-hidden pointer-events-none h-70-px"
      style="transform: translateZ(0px)"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="fill-current text-blueGray-200"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>
  </section>
  <section class="relative py-16 bg-blueGray-200">
    <div class="container px-4 mx-auto">
      <div
        class="relative flex flex-col w-full min-w-0 mb-6 -mt-64 break-words bg-white rounded-lg shadow-xl"
      >
        <div class="px-6">
          <div
            class="flex flex-col items-center justify-center mt-12 text-center"
          >
            <h3
              class="mb-2 text-4xl font-semibold leading-normal text-blueGray-700"
            >
              {{user.first_name}} {{user.last_name}}
            </h3>
            <div
              class="mt-0 mb-2 text-base font-bold leading-normal text-gray-600"
            >
              @{{user.username}}
            </div>
            <div
              class="flex items-center justify-center mt-5 mb-5 space-x-2 text-blueGray-600"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-envelope-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"
                />
              </svg>
              <p class="text-base mb-[3px] font-medium">{{user.email}}</p>
            </div>
          </div>
        </div>
        {% if request.user == user %}
        <div class="flex items-center justify-center w-full mt-3">
          <a class="btn-solid-lg" href="/blog/add/">Write a blog</a>
        </div>
        {% endif %}
      </div>
      <div class="w-full p-8 bg-white rounded-lg shadow-xl">
        <p class="text-3xl font-semibold text-center text-gray-800">
          Your Recent Blogs
        </p>

        <div class="p-5 mt-3">
          {% if posts|length == 0 %}
          <p class="text-2xl text-center">No blog to show</p>
          {% endif %} {% for post in posts %}
          <div
            class="flex flex-row w-full mb-5 text-gray-700 bg-gray-100 bg-clip-border rounded-xl font-open-sans"
          >
            <div
              class="w-2/5 m-0 overflow-hidden text-gray-700 bg-white rounded-r-none bg-clip-border rounded-xl shrink-0"
            >
              <img
                src="/media/{{post.image}}"
                alt="card-image"
                class="object-cover w-full h-full"
              />
            </div>
            <div class="p-6">
              <h6
                class="block mb-4 text-base antialiased font-semibold leading-relaxed tracking-normal text-gray-800 uppercase"
              >
                {{post.type}}
              </h6>
              <h4
                class="block mb-2 text-2xl antialiased font-semibold leading-snug tracking-normal text-gray-900"
              >
                {{post.title}}
              </h4>
              <p
                class="block mb-3 text-base antialiased font-normal leading-relaxed text-gray-700"
              >
                {{post.content|truncatechars:200|safe}}
              </p>
              <p
                class="block mb-8 text-sm antialiased font-normal leading-relaxed text-gray-700"
              >
                by
                <span class="font-semibold"
                  >{{post.author.first_name}} {{post.author.last_name}}</span
                >
                at {{post.time_stamp}}
              </p>
              <a href="/blog/{{post.slug}}" class="inline-block"
                ><button
                  class="flex items-center gap-2 px-6 py-3 text-xs font-bold text-center text-gray-900 uppercase align-middle transition-all rounded-lg select-none disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none hover:bg-gray-900/10 active:bg-gray-900/20"
                  type="button"
                >
                  Learn More<svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                    class="w-4 h-4"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"
                    ></path>
                  </svg></button
              ></a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
