.text-primary {
  --tw-text-opacity: 1;
  color: rgb(98 93 245 / var(--tw-text-opacity));
}
.text-heading-3 {
  font-size: 40px;
  line-height: 48px;
}
.text-heading-5 {
  font-size: 28px;
  line-height: 40px;
}
.text-dark {
  --tw-text-opacity: 1;
  color: rgb(21 23 26 / var(--tw-text-opacity));
}
.text-custom-sm {
  font-size: 14px;
  line-height: 22px;
}
.text-custom-xl {
  font-size: 20px;
  line-height: 24px;
}
.border-gray-3 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}
/* }
.group:hover .group-hover\:-translate-y-2 {
  --tw-translate-y: -0.5rem;
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:rotate-45 {
  --tw-rotate: 45deg;
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:scale-105 {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:border-dark {
  --tw-border-opacity: 1;
  border-color: rgb(21 23 26 / var(--tw-border-opacity));
}

.group:hover .group-hover\:bg-dark {
  --tw-bg-opacity: 1;
  background-color: rgb(21 23 26 / var(--tw-bg-opacity));
}

.group:hover .group-hover\:bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.group:hover .group-hover\:bg-\[length\:100\%_10px\] {
  background-size: 100% 10px;
}

.group:hover .group-hover\:bg-\[length\:100\%_1px\] {
  background-size: 100% 1px;
}

.group:hover .group-hover\:text-dark {
  --tw-text-opacity: 1;
  color: rgb(21 23 26 / var(--tw-text-opacity));
}

.group:hover .group-hover\:text-primary {
  --tw-text-opacity: 1;
  color: rgb(98 93 245 / var(--tw-text-opacity));
}

.group:hover .group-hover\:text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.group:hover .group-hover\:drop-shadow-1 {
  --tw-drop-shadow: drop-shadow(0px 8px 12px rgba(13, 10, 44, 0.04));
  -webkit-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
} */
